<div id="content">
    <ul>
        <li *ngFor="let entry of entries; let i = index;">
            <section class="row">
                <div class="col-md-6 align-self-center text-center" [ngClass]="{'order-md-2': i%2===1, 'smaller-image': i%2===1}">
                    <img src="{{entry.image.url}}" alt="{{entry.image.alt}}" />
                </div>
                <div class="col-md-6 align-self-center" [ngClass]="{'order-md-1': i%2===1}">
                    <h2>{{entry.title}}</h2>
                    <p>{{entry.content}}</p>
                </div>
            </section>
        </li>
    </ul>
</div>