@import "~src/sass/variables";

#content {
    margin: auto;
    overflow: auto;
    max-width: 1200px;
    padding: 8rem 2rem;


    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0 0 5rem;
        }
    }

    img {
        max-width: 100%;
    }

    .smaller-image {
        img {
            max-width: 256px;
        }
    }

    div[class*=col-] {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

/* Landscape phone to portrait tablet */
@media screen and (max-width: 767px) {
    #content {

        padding: 3rem 1rem;

        div[class*=col] {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        ul li {
            margin-bottom: 2rem;
            border-bottom: 1px solid $neutrallight;

            &:last-child {
                border-bottom:0;
                margin-bottom:0;
            }
        }

        section img {
            max-width: 80%;
        }
    }

    h2 {
        font-size: 1.5rem;
    }
}
 