@import "~src/sass/variables";

#brand-logo {
    display: inline-block;
    padding: $brandspacing;
    margin: $brandspacing $brandspacing*1.25;
}

#hero-image {
    border: none;
    margin: 0;
    padding: 0;
    max-width: 100%;
}


header {
    margin: auto;
    overflow: auto;
    background-color: $neutraldark;
    padding: 0 0 2rem 0;

    nav {
        display: inline-block;
        padding: 0;
        margin: 0;
        z-index:999;

        ul {
            padding: 0;
            margin: 0;
            display: flex;

            li {
                display: inline-block;
                padding: 0;
                font-size: 1rem;
                color: #fff;
                    
                a {
                    color: inherit;
                    &:hover {
                        color: inherit;
                        text-decoration: none;
                    }
                }

                &:after {
                    content: '|';
                    color: $mapper;
                    padding: 0 .5rem;
                }

                &:last-child:after {
                    content: '';
                    padding: 0;
                }
            }
        }
    }
}

.headline {
    
    padding-left:3rem;

    .header {
        display: inline-block;
        font-weight: 200;
        color: #fff;
        text-transform: uppercase;
        font-size: 2.3rem;
        border-bottom: 1px solid $mapper;
    }
    
    .blob {
        color: #fff;
        font-size: 1.1rem;
        margin-bottom: 2rem;
    }

    .button {
        border: 1px solid #84BD00;
        color: #fff;
        padding: .3rem 1rem;
        margin: 0 1rem 1rem 0;
        text-transform: uppercase;
        outline: none;
        font-weight: normal;
        font-size: .9rem;

        &.button-primary {    
            background-color: $mapper;
        }

        &.button-secondary {
            background-color: transparent;
        }

        &:hover {
            filter: brightness(80%);
        }

        &:last-child {
            margin-right: 0;
        }
    }
}


@media screen and (max-width: 767px) {

    #brand-logo {
        margin-left: auto;
        margin-right: auto;
        display:block;
    }

    header {
        
        padding-top: 2rem;
        
        nav {
            position: fixed;
            top:0;
            left:0;
            width:100%;
            text-align: center;
            background-color: $neutraldark;
            border-bottom: 1px solid #fff;
            padding: 0 1rem .2rem;

            ul {
                display: block;
                padding: .2rem 0;
            }
        }

        .headline {
            text-align: center;
            padding-left: 0;

            .header {
                font-size: 1.5rem;
                font-weight: 100;
            }

            .blob {
                padding: 1rem 0;
            }
        }

        div[class*=col] {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}