<!-- header block -->
<header>
    <div class="container">

        <!-- company logo -->
        <a href="#"><img id="brand-logo" src="assets/images/Logo_Pix4D_dark_100px.png" alt="Pix4d logo"></a>

        <!-- main site navigation -->
        <nav>
            <ul>
                <li><a href="#">Capabilities</a></li>
                <li><a href="#">Industries</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </nav>

        <div class="row">
            <div class="col-md-5 align-self-center">
                <!-- headline -->
                <div class="headline">
                    <h1 class="header">Measure from images</h1>
                    <p class="blob">The only drone mapping software with both desktop and cloud processing</p>
                    <button type="button" class="button button-primary">Start free trial</button>
                    <button type="button" class="button button-secondary">Learn more</button>
                </div>
            </div>
            <div class="col-md-7">
                <!-- hero image -->
                <img id="hero-image" src="assets/images/model_crop.png" alt="hero image">
            </div>
        </div>
    </div>
</header>
<!-- end header block -->