/* You can add global styles to this file, and also import other style files */
@import "variables";

html, body {
    margin:0;
    padding:0;
}

.container {
    max-width: $sitewidth;
}

p, h1, h2, button, li, a {
    color: $neutraldark;
    font-family: 'Roboto', 'Arial', sans-serif;
}

footer {
    background-color: $neutraldark;
    height: 2rem;
}
